<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bootstrap</display-name>
  <servlet>
    <description></description>
    <display-name>messageServlet</display-name>
    <servlet-name>messageServlet</servlet-name>
    <servlet-class>com.gaorui.controller.messageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageServlet</servlet-name>
    <url-pattern>/messageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gaorui.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registeredServlet</display-name>
    <servlet-name>registeredServlet</servlet-name>
    <servlet-class>com.gaorui.controller.registeredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeredServlet</servlet-name>
    <url-pattern>/registeredServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>messageshowServlet</display-name>
    <servlet-name>messageshowServlet</servlet-name>
    <servlet-class>com.gaorui.controller.messageshowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageshowServlet</servlet-name>
    <url-pattern>/messageshowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imgclServlet</display-name>
    <servlet-name>imgclServlet</servlet-name>
    <servlet-class>imgcl.imgclServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imgclServlet</servlet-name>
    <url-pattern>/imgclServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pletterclServlet</display-name>
    <servlet-name>pletterclServlet</servlet-name>
    <servlet-class>com.gaorui.controller.pletterclServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pletterclServlet</servlet-name>
    <url-pattern>/pletterclServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>plettershowServlet</display-name>
    <servlet-name>plettershowServlet</servlet-name>
    <servlet-class>com.gaorui.controller.plettershowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>plettershowServlet</servlet-name>
    <url-pattern>/plettershowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>replypletterclServlet</display-name>
    <servlet-name>replypletterclServlet</servlet-name>
    <servlet-class>com.gaorui.controller.replypletterclServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replypletterclServlet</servlet-name>
    <url-pattern>/replypletterclServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>messageshowpesronuser</display-name>
    <servlet-name>messageshowpesronuser</servlet-name>
    <servlet-class>com.gaorui.controller.messageshowpesronuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageshowpesronuser</servlet-name>
    <url-pattern>/messageshowpesronuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest</display-name>
    <servlet-name>SessionTest</servlet-name>
    <servlet-class>com.gaorui.controller.SessionTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest</servlet-name>
    <url-pattern>/SessionTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xxxx</display-name>
    <servlet-name>xxxx</servlet-name>
    <servlet-class>com.gaorui.controller.xxxx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xxxx</servlet-name>
    <url-pattern>/xxxx</url-pattern>
  </servlet-mapping>
</web-app>